* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    color:#000;
    font-weight: 600;
}

p {
    color:#000;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 20px;
}

a {
    color:#000;
}

/* Navbar */

nav {
    background-color: #eaeaea;
}

.nav-container {
    display: flex;
    align-items: center; 
    padding: 30px 0;
}
.brand-logo {
    width: 170px;
    height: 170px;
}

.brand-logo img {
    width: 100%;
}

.nav-items {
    margin-left: auto;
}

.nav-items ul {
    display: flex;
}

.nav-items li {
    margin-left: 20px;
    padding: 10px 15px;
    transition: all .1s;
}

.nav-items li:hover{
    border-bottom: 5px solid #0066f9;
}

.nav-items a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.active {
    border-bottom: 5px solid #0066f9;
}

.btn {
    background-color: #0066f9;
    border-radius: 2px;
}

.btn a {
    color: #fff;
}

/* Footer */
footer {
    padding: 20px 0;
}

hr.footer {
    border: 1px solid #eaeaea;
    margin: 0;
}

.icons span {
    margin-right: 15px;
}

.icons i {
    font-size: 50px;
    color: #0066f9;
}

/* Main content */
main {
    padding: 50px 0;
}

/* Home */

hr.home {
    margin: 25px 0;
}

.blog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 25px;
}


.blog-cards a {
    text-decoration: none;
}

.blog-card-item {
    width: 100%;
    overflow: hidden;
    background-color: #eaeaea;
}


.blog-image {
    width: 100%;
    height: 230px;
    max-height: 230px;
}

.blog-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.card-tag-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-tag {
    padding: 10px;
    background-color: #7D4DDB;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-top: -17px;
}

.card-contents{
    padding: 0 35px 50px 35px;
}
.small {
    font-size: 14px;
}

.small span {
    margin: -10px  2px 0 2px;
}
.small i {
    font-size: 4px;
}

.card-title {
    font-size: 24px;
    margin-top: 10px;
}

.all-post {
    margin-top: 50px;
}

.blog-details h1 {
    font-size: 36px;
    margin: 16px 0;
}
.blog-details h2 {
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.blog-details h3 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-details p {
    font-size: 16px;
    margin: 12px 0;
    line-height: 1.5;
}

.blog-details img {
    width: 100%;
    height: auto;
    margin: 12px 0;
}

.blog-details .title {
    font-size: 42px;
    margin: 30px 0;
}


/* Contact Page  */

.form-container {
    margin-top: 50px;

}

.form-group {
    width: 100%;
    margin-top: 25px;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.form-input-field {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-size: 16px;

}

.form-textarea {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Open sans';
    width: 600px;
    resize: none;
}

.form-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #0066f9;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;;
}